{layout="layouts/wrapper2"}

<h2 class="web-h2">Contact Noah</h2>
    <div class="contact-invite">
    <p>For additional information or question contact me.</p>
    <p class="email">Email:<a href="mailto:gnzalezmnoah@gmail.com"> gnzalezmnoah@gmail.com</a></p>
    </div>
    <fieldset>
        <legend class="web-h2">Send Me a Message by filling out This Form</legend>
        <form action="">
            <label for="name">Your Name</label>
            <input type="name" id="name" name="name" placeholder="Noah Gonzalez">
            <br>
            <label for="email">Email Adress</label>
            <input type="email" id="email" name="email" placeholder="youremail@adress.com">
            <br>
            <label for="number">Phone Number</label>
            <input type="number" id="number" name="number" placeholder="999-999-9999">
            <br>
            <label for="message">Message</label>
            <textarea name="message" id="message" placeholder="Send Noah a Message!"></textarea>
            <br>
            <button type="submit">SUBMIT</button>
        </form>
    </fieldset>