{layout="layouts/wrapper2"}

<h2 class="web-h2">Digital Media</h2>
    <div class="title-spin">
        <span style="--i:1">P</span>
        <span style="--i:2">h</span>
        <span style="--i:3">o</span>
        <span style="--i:4">t</span>
        <span style="--i:5">o</span>
        <span style="--i:6">g</span>
        <span style="--i:7">r</span>
        <span style="--i:8">a</span> 
        <span style="--i:9">p</span>
        <span style="--i:10">h</span>
        <span style="--i:11">y</span>
    </div>
    <!---------START PHOTOGRAPHY GRID--------->
    <!---------START PHOTOGRAPHY GRID--------->
    
    <h3>Self-Portrait & Environmental Photography</h3>
    <div class="grid-photography grid-img">
        <div class="noah-env">
                {exp:channel:entries channel="projects"}
    
                <figure class="noah-env">
                            <h2>{title_name} </h2>
                <h3>{name_of_specific_work}</h3>
                
                <img src="{image_video}" alt="">
                <figcaption>Environmental Self Portrait</figcaption>
                </figure>
                 {/exp:channel:entries}
                </div>  
        <div class="noah-port">
                <img 
                size="(max-width:600px) 100vw, 60vw"
                src="images/Self-Portrait400.jpg" alt=""
                srcset="
                        images/Self-Portrait400.jpg 400w,
                        images/Self-Portrait600.jpg 600w,
                        images/Self-Portrait960.jpg 960w     
                ">
                <figcaption>Self Portrait</figcaption>
        </div>
        <div class="sj-exposure">
                <img 
                size="(max-width:600px) 100vw, 60vw"
                src="images/long-exposure400.jpg" alt=""
                srcset="
                        images/long-exposure400.jpg 400w,
                        images/long-exposure600.jpg 600w,
                        images/long-exposure960.jpg 960w     
                ">
                <figcaption> ISO 200
                        Lens 18mm
                        f/5.3
                        20.0 sec</figcaption>
        </div>
        <div class="ant-exposure">
                <img 
                size="(max-width:600px) 100vw, 60vw"
                src="images/antioch-bridge-pier400.jpg" alt=""
                srcset="
                        images/antioch-bridge-pier400.jpg 400w,
                        images/antioch-bridge-pier600.jpg 600w,
                        images/antioch-bridge-pier960.jpg 960w     
                ">
                <figcaption>Long Exposure Photography / Antioch Bridge</figcaption>
        </div>
        <div class="berkeley">
                <img 
                size="(max-width:600px) 100vw, 60vw"
                src="images/berkeley400.jpg" alt=""
                srcset="
                        images/berkeley400.jpg 400w,
                        images/berkeley600.jpg 600w,
                        images/berkeley960.jpg 960w     
                         ">
                <figcaption>Candid portrait of Noah</figcaption>
        </div> 
        </div>  
    <!-----------START VIDEO/AUDIO---------->
    <div class="title-spin">
        <span style="--i:1">V</span>
        <span style="--i:2">i</span>
        <span style="--i:3">d</span>
        <span style="--i:4">e</span>
        <span style="--i:5">o</span>
        <span style="--i:6">/</span>
        <span style="--i:7">A</span>
        <span style="--i:8">u</span> 
        <span style="--i:9">d</span>
        <span style="--i:10">i</span>
        <span style="--i:11">o</span>
    </div>
    <h3>Video filmed by Noah - Commercial Train with Noah</h3>
    <p>Edited using Premiere Pro 2022</p>
    <p>(Audio Desing still in progress with Reaper)</p>
    <video controls
    src="video/gonzalez-noah-training.mp4" type="video/mp4"
    src="video/gonzalez-noah-training.webm" type="video/webm"
    >
    <p>Video type not supported. Play in a different browser</p>
    </video>
    <h3>Audio edited with Reaper audio software</h3>
    <p>Foley Sound - creation of sounds using a Lapel micropone</p>
    <audio controls
     src="audio/foley-noah.wav" type="audio/wav"
     src="audio/foley-noah.ogg" type="audio/ogg"
    >
    <p>Audio file not supported. Play in a different browser</p>

    </audio>
    <h3>Audio with caption and transcription</h3>
    <video class="commercial"  controls
     src="audio/eclipse-vid.mp4" type="audio/wav"    >
    <p>Audio file not supported. Play in a different browser</p>
    <track 
    label="US English"
    king="captions"
    srclang="eng"
    src="audio/eclipse.vtt"
    default
    >
    </video>
    <details>
        <summary>Read Transcription</summary>
        <div><p>ECLIPSE ELLIPTICAL TRAINER.

            One Smart Workout…One Smart Machine!
            
            With the Eclipse Elliptical Trainer and this short instructional video, you will lose weigh,strengthen your heart and lungs, firm and sculpt your buns and thighs. All in just 20 minutes a day. Studies prove that ellipticals burn more calories than bikes, more calories than stair climbers. That's one smart workout. Just like professional models, Eclipse features a completely smooth, solid elliptical motion that's very low impact so it's easy on your body...</p></div>
    </details>
    <!-----------------------PHOTOSHOP------------------>
    <div class="title-spin">
        <span style="--i:1">P</span>
        <span style="--i:2">h</span>
        <span style="--i:3">o</span>
        <span style="--i:4">t</span>
        <span style="--i:5">o</span>
        <span style="--i:6">s</span>
        <span style="--i:7">h</span>
        <span style="--i:8">o</span> 
        <span style="--i:9">p</span>

     <div class="photoshop-grid grid-img">
        <div class="surrealism">
                <img src="images/photoshop/surrealism.jpg" alt="surrealism composition">

        <figcaption>My interpretation of The Therapist by Rene Magritte 
        </figcaption>
        </div>
        <div class="realism">
                <img src="images/photoshop/realism.jpg" alt="realistic composition">
                <figcaption>Realistic Composition with Blend Modes</figcaption>
        </div>
        <div class="reconstruction">
                <img src="images/photoshop/reconstruction.jpg" alt="reconstruction images">
                <figcaption>Reconstruction of damaged photograph</figcaption>
        </div>
        <div class="ad">
                <img src="images/photoshop/add.jpg" alt="add">
        <figcaption>Add created using Artboards</figcaption>
        </div>
        <div class="noah-comp">
                <img src="images/photoshop/noahcomposition.png" alt="noah-composition">
        </div>

     </div>

</main>
</body>
</html>