:root{
    --gray-color:#45464452;
}
body{
    background-color:var(--gray-color);
}
h3{
    text-align:center;
}
p{
    text-align:center;
}
.title-spin{
    position:relative;
    text-align:center;
}
.title-spin span{
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: rgb(6, 6, 6);
    text-transform: uppercase;
    animation: rotate1 3s infinite;
    animation-delay: calc(.2s * var(--i))
}
@keyframes rotate1 {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

  /******************* PHOTOGRAPHY GRID *******************/
  /******************* PHOTOGRAPHY GRID *******************/

  .grid-photography{
    display:grid;
    grid-template-columns:repeat(6, minmax(40px,250px));
    width:100%;
    gap:10px;
    padding:15px;
    max-width:100%;
}
.grid-img img{
    width:100%;
    height:auto;
    object-fit:cover;
}
figcaption{
    background-color:#e6e6e6;
    border:solid 2px var(--green-color);
    text-align:center;
    padding:5px;
}
.noah-env {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
}
.noah-port {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 1;
}
.sj-exposure {
    align-items:center;
    justify-content:center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start:5;
}
.ant-exposure {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start:5;

}
.berkeley {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 2;
}
/**************** VIDEO ***************************/
video{
    display:block;
    padding:0 1rem;
    max-width:100%;
}
audio{
    margin:0 2rem;
}
details{
    background-color:white;
display:block;
margin:1rem;
padding:10px;
}
::cue{
    font-size:2rem;
}

/***************** PHOTOSHOP GRID ******************/
.photoshop-grid{
    display:grid;
    grid-template-columns:repeat(6, minmax(40px,250px));
    width:100%;
    gap:10px;
    padding:15px;
    max-width:100%;
}
.surrealism {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end:4;
}
.realism {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start:5;
}
.noah-comp {
    align-items:center;
    justify-content:center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start:5;
}
.ad{
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 1;
}
.reconstruction {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 2;
}
/***********MEDIA QUERY****************/
@media screen and (min-width:600px){
    .grid-photography{
        grid-template-columns:repeat(9, minmax(40px,250px));

    }
    /********PHOTOGRAPHY**********/
    .noah-env {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .noah-port {
        grid-column-start: 8;
        grid-column-end: 10;
        grid-row-start: 1;
    }
    .sj-exposure {
        align-items:center;
        justify-content:center;
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start:1;
    }
    .ant-exposure {
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .berkeley {
        grid-column-start: 8;
        grid-column-end: 10;
        grid-row-start: 2;
    }

    /************PHOTOSOP**********/
    .photoshop-grid{
        display:inline-grid;
        grid-template-columns:repeat(9, minmax(40px,250px));
        width:100%;
        gap:10px;
        padding:15px;
    }
    .surrealism {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .realism {
        grid-column-start: 8;
        grid-column-end: 10;
        grid-row-start: 1;
    }
    .noah-comp {
        align-items:center;
        justify-content:center;
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start:1;
    }
    .ad{
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .reconstruction {
        grid-column-start: 8;
        grid-column-end: 10;
        grid-row-start: 2;
    }

}