/********** CSS For DIGITAL MEDIA *****/

:root{
    --gray-color:#45464452;
}
body{
    background-color:var(--gray-color);
}
h3{
    text-align:center;
}
p{
    text-align:center;
}
.title-spin{
    position:relative;
    text-align:center;
}
.title-spin span{
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: rgb(6, 6, 6);
    text-transform: uppercase;
    animation: rotate1 3s infinite;
    animation-delay: calc(.2s * var(--i))
}
@keyframes rotate1 {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

  /******************* PHOTOGRAPHY GRID *******************/
  /******************* PHOTOGRAPHY GRID *******************/

  .grid-photography{
    display:grid;
    border:0;
    grid-template-columns:repeat(6, minmax(40px,250px));
    width:100%;
    gap:2px;
    max-width:100%;
}
.grid-img img{
    margin:0;
    width:100%;
    height:auto;
    object-fit:cover;
    padding:0;
}
figcaption{
    background-color:#e6e6e6;
    border:solid 2px var(--green-color);
    text-align:center;
    padding:5px;
}
.phto1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
}
.phto4 {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 1;
}
.phto2 {
    align-items:center;
    justify-content:center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start:5;
}
.phto3 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start:5;

}
.phto5{
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 2;
}
/**************** VIDEO ***************************/
video{
    display:block;
    padding:0 1rem;
    max-width:100%;
}
audio{
    margin:0 2rem;
}
details{
    background-color:white;
display:block;
margin:1rem;
padding:10px;
}
::cue{
    font-size:2rem;
}

/***************** PHOTOSHOP GRID ******************/
.photoshop-grid{
    display:grid;
    grid-template-columns:repeat(6, minmax(40px,250px));
    width:100%;
    gap:3px;
    max-width:100%;
}
.photo1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end:4;
}
.photo4 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start:5;
}
.photo2 {
    align-items:center;
    justify-content:center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start:5;
}
.photo3{
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 1;
}
.photo5 {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 2;
}
/***********MEDIA QUERY****************/
@media screen and (min-width:600px){
    .grid-photography{
        grid-template-columns:repeat(10, minmax(40px,250px));
    }
    /********PHOTOGRAPHY**********/
    .phto1{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .phto4 {
        grid-column-start: 8;
        grid-column-end: 11;
        grid-row-start: 1;
    }
    .phto2 {
        align-items:center;
        justify-content:center;
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start:1;
    }
    .phto3 {
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .phto5 {
        grid-column-start: 8;
        grid-column-end: 11;
        grid-row-start: 2;
    }

    /************PHOTOSOP**********/
    .photoshop-grid{
        display:grid;
        grid-template-columns:repeat(10, minmax(40px,250px));
        width:100%;
        gap:3px;
    }
    .photo1 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .photo4 {
        grid-column-start: 8;
        grid-column-end: 11;
        grid-row-start: 1;
    }
    .photo2 {
        align-items:center;
        justify-content:center;
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start:1;
    }
    .photo3{
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .photo5 {
        grid-column-start: 8;
        grid-column-end: 11;
        grid-row-start: 2;
    }

}