<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noah Gonzalez  </title>
    <link rel="stylesheet" type="text/css" href="{stylesheet='demo/project_css'}">
    <link rel="stylesheet" type="text/css" href="{stylesheet='demo/projects_css2'}">
    
</head>
<body>
    {exp:channel:entries channel="header"}
    <header class="home-header">
        {project_images}
       <img class="noahlogo" src="{project_images:image_1}" alt="noah face picture">
       {/project_images}
        <h1 class="home-h1"><span>{title_name}</span>{list_name}</h1>
    {/exp:channel:entries}
        <nav class="{template_group}">
            <li class="h"><a href="{homepage}/">Home</a></li>
            <li class="w-d"><a href="{homepage}/video_audio">Video and Audio</a></li>
            <li class="d-m"><a href="{homepage}/projects">Photography</a></li>
            <li class="f"><a href="fitness.html">Gallery</a></li>
            <li class="c"><a href="{homepage}/contact">Contact</a></li>
        </nav>
    </header>

    {layout:contents}

    <footer>
        <p class="footer1">Page created by Noah Gonzalez</p>
        <p class="web-h2 contact"><a href="contact.html">Contact Me</a></p>
    </footer>