{layout="layouts/wrapper2"}

<div class="bg-vid">
    {exp:channel:entries channel="video" status='bg'}
        {audio_video}
        <video src="{audio_video:file}" autoplay muted loop></video>
        {/audio_video}
    {/exp:channel:entries}
</div>
<div class="web-container">
<div class="web-d2 web-p">
{exp:channel:entries channel="introduction" status="video_heading"}
    <h2>{title_name}</h2>
    <section>{blurb}</section>
{/exp:channel:entries}
</div>  
<div class="vid_title">
    <div class="title-spin">
        <span style="--i:1">V</span>
        <span style="--i:2">i</span>
        <span style="--i:3">d</span>
        <span style="--i:4">e</span>
        <span style="--i:5">o</span>
        <span style="--i:6">/</span>
        <span style="--i:7">A</span>
        <span style="--i:8">u</span> 
        <span style="--i:9">d</span>
        <span style="--i:10">i</span>
        <span style="--i:11">o</span>
    </div>
    </div>
    {exp:channel:entries channel="video"}
    <div class="media_container">
        
        <h3>{project_name}</h3>
            <p>{description}</p>
                {audio_video}
            <video controls
                    src="{video_audio:file}" type="video/mp4"
                    >
                {/audio_video}
                <p>{error_message}</p>
                    <track 
                    label="US English"
                    king="captions"
                    srclang="eng"
                    src="{caption}"
                    default
                    >
            </video>           
    </div>
    {/exp:channel:entries}

    {exp:channel:entries channel="audio"}
        <div class="media_container">
        <h3>{project_name}</h3>
            <p>{description}</p>
            {audio_video}
            <audio controls
                src="{audio_video:file}" type="audio/wav">
                <p>{error_message}</p>
                </audio>
            {/audio_video}
            <details>
                <summary>{text_field}</summary>
                <div>{blurb}</div>
            </details>
        </div>
    {/exp:channel:entries}
</div>